[Desktop Entry]
Type=Application
Name=Lahza
Comment=Screenshot and recording studio
Exec=lahza
Icon=com.lahza.Lahza
Terminal=false
Categories=Graphics;Utility;
StartupNotify=true
StartupWMClass=com.lahza.Lahza
