[Desktop Entry]
Type=Application
Name=Lahza
Comment=Screenshot and recording studio
Exec=screendrop
Icon=com.screendrop.Screendrop
Terminal=false
Categories=Graphics;Utility;
StartupNotify=true
StartupWMClass=com.screendrop.Screendrop
